body {
    font-family: Arial;
}

#main_menu, #main_menu ul, #main_menu li {
    padding: 0;
    margin: 0;
}

#main_menu li {
    list-style: none;
    position: relative;
    width: 100px; height: 30px;
    padding: 0 20px;
    background-color: black;
    line-height: 30px;
    cursor: pointer;
}

#main_menu li a {
    text-decoration: none;
    color: white;
}

#main_menu li:hover {
    background-color: red;
}

#main_menu ul ul {
    position: absolute;
    top: 0;
    left: 140px;
    visibility: hidden;
}

#main_menu ul li:hover ul {
    visibility: visible;
}